<div class="flat-form">
  <ul class="tabs">
    <li>
      <a href="#login" class="active">Login</a>
    </li>
    <li>
      <a href="#register">Register</a>
    </li>
    <li>
      <a href="#reset">Reset Password</a>
    </li>
  </ul>
  <div id="login" class="form-action show">
    <h1>Login</h1>
    <p>If you don't have an account, please click on the register tab to create one.</p>
    <form id="frmLogin" name="frmLogin">
      <ul>
        <li>
          <input type="text" placeholder="Username" />
        </li>
        <li>
          <input type="password" placeholder="Password" />
        </li>
        <li>
          <input type="submit" value="Login" class="button" />
        </li>
      </ul>
    </form>
  </div>
  <!--/#login.form-action-->
  <div id="register" class="form-action hide">
    <h1>Register</h1>
    <p>Thank you for registering.</p>
    <form id="frmRegister" name="frmRegister">
      <ul>
        <li>
          <input type="text" placeholder="Username" />
        </li>
        <li>
          <input type="password" placeholder="Password" />
        </li>
        <li>
          <input type="submit" value="Sign Up" class="button" />
        </li>
      </ul>
    </form>
  </div>
  <!--/#register.form-action-->
  <div id="reset" class="form-action hide">
    <h1>Reset Password</h1>
    <p>Provide your account email.</p>
    <form id="frmResetPassword" name="frmResetPassword">
      <ul>
        <li>
          <input type="text" placeholder="Email" />
        </li>
        <li>
          <input type="text" placeholder="Birthday" />
        </li>
        <li>
          <input type="submit" value="Send" class="button" />
        </li>
      </ul>
    </form>
  </div>
  <!--/#register.form-action-->
</div>